---
- name: Install extra packages (binary downloads)
  ansible.builtin.get_url:
    url: "{{ item.url }}"
    dest: "{{ ansible_facts['env']['HOME'] }}/.local/bin/{{ item.name }}"
    mode: "0755"
  loop: "{{ linux_extra_install | selectattr('method', 'equalto', 'binary') | list }}"
  loop_control:
    label: "{{ item.name }}"

- name: Install extra packages (script)
  ansible.builtin.shell: |
    if ! command -v {{ item.name }} &>/dev/null; then
      {{ item.cmd }}
    fi
  args:
    executable: /bin/bash
  loop: "{{ linux_extra_install | selectattr('method', 'equalto', 'script') | list }}"
  loop_control:
    label: "{{ item.name }}"
  changed_when: false
