---
- name: Dev environment setup
  hosts: localhost
  gather_facts: true
  any_errors_fatal: true

  pre_tasks:
    - name: Set OS family group
      ansible.builtin.group_by:
        key: "{{ ansible_facts['os_family'] | lower }}"

  roles:
    - role: base
      tags: [base, packages]
    - role: mise
      tags: [mise]
    - role: rust
      tags: [rust]
    - role: shell
      tags: [shell]
    - role: neovim
      tags: [neovim, nvim]
    - role: dotfiles
      tags: [dotfiles]
